@model CampaniasSB.Models.ReglaCatalogo
@{
}

@using (Html.BeginForm("AddOrEditCat", "Reglas", FormMethod.Post, new { onsubmit = "return SubmitFormCat(this)" }))
{
    @Html.HiddenFor(model => model.ReglaCatalogoId)

    <div class="row">
        <div class="input-field col s12" style="text-transform: uppercase !important">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @type = "text", @class = "validate", @required = "true", style = "text-transform: uppercase !important" } })
            <label class="active" for="Nombre">Nombre</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12" style="text-transform: uppercase !important">
            @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @type = "text", @class = "validate", style = "text-transform: uppercase !important" } })
            <label class="active" for="Valor">Valor</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field center-align col s12">
            @Html.CheckBoxFor(model => model.Activo, new { @class = "switch_1" })
            <label class="active" for="Activo">Aplica Regla</label>
        </div>
    </div>

    <div class="center-align">
        <button id="aceptar" disabled type="submit" title="Aceptar" class="btn-floating btn-sm green" style="border-radius: 50%" onclick="hidePage()">
            <i class="large material-icons">check</i>
        </button>
    </div>
}

<script>

    var nom = document.getElementById('Nombre');
    var acep = document.getElementById('aceptar');

    nom.addEventListener('change', function () {

        if (nom.value == "") {
            acep.disabled = true;
        }
        else {
            acep.disabled = false;
        }
    });

</script>

