@font-face {
    font-family: 'Hero';
    src: url('../../Content/Fonts/Hero.otf') format('opentype');
}


html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
    font-family: Hero;
}

main {
    flex: 1 0 auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px; /* Vertically center the text there */
    background-color: #999;
    color: #fff !important
}

.had-container {
    background-color: #f5f5f5;
}

.brand-logo > img {
    width: 50px;
    height: 50px;
    margin-top: 5px;
}
/* Menu - profile */
.bg-card-user {
    background: rgba(0,77,64,.5);
    padding: 15px 0;
}

.truncate > img {
    width: 180px;
    margin-top: 6px;
    margin-bottom: 6px;
}
/* FOOTER */
footer .foot-text {
    margin-top: 10px;
}

/* LOGIN */
.logueo { /* PARALLAX */
    height: 650px !important;
}

i.iconis {
    font-size: 1em !important;
    margin-top: 8px;
}

.login {
    width: 30%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
    .login {
        width: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .login {
        width: 40%;
    }
}

.mat-label {
    display: block !important;
    font-size: 20px !important;
    transform: translateY(25px) !important;
    color: #e2e2e2 !important;
    transition: all 0.5s !important;
    margin-top: -7px !important;
}

.mat-input {
    position: relative !important;
    background: transparent !important;
    width: 100% !important;
    border: none !important;
    outline: none !important;
    padding: 8px 0 !important;
    font-size: 16px !important;
}

.mat-div {
    position: relative !important;
}

    .mat-div:after, .mat-div:before {
        content: "" !important;
        position: relative !important;
        display: block !important;
        width: 100% !important;
        height: 2px !important;
        background-color: #e2e2e2 !important;
        bottom: 10px !important;
        left: 0 !important;
        transition: all 0.5s !important;
    }

    .mat-div::after {
        background-color: #8E8DBE !important;
        transform: scaleX(0) !important;
    }

.is-active::after {
    transform: scaleX(1) !important;
}

.is-active .mat-label {
    color: #8E8DBE !important;
}

.is-completed .mat-label {
    font-size: 12px !important;
    transform: translateY(0) !important;
}
