@model CampaniasSB.Models.Region
@{
}

@using (Html.BeginForm("AddOrEdit", "Regiones", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.RegionId)

    <div class="row">
        <div class="input-field col s12" style="text-transform: uppercase !important">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @type = "text", @class = "validate", @required = "true", style = "text-transform: uppercase !important" } })
            <label for="Nombre">Región</label>
        </div>
    </div>

    <div class="center-align">
        <button id="aceptar" type="submit" title="Aceptar" disabled class="btn-floating btn-sm green" style="border-radius: 50%" onclick="hidePage()">
            <i class="large material-icons">check</i>
        </button>
    </div>
}

<script>

    var nom = document.getElementById('Nombre');
    var acep = document.getElementById('aceptar');

    nom.addEventListener('change', function () {

        if (nom.value == "") {
            acep.disabled = true;
        }
        else {
            acep.disabled = false;
        }
    });

</script>