@{
    ViewBag.Title = "Artículos";
    //Layout = "~/Views/Shared/_Layout_Materiales.cshtml";
}

<div id="articulo" style="visibility: visible; display: block">

    <style>
        #matTable th, #matTable td {
            white-space: nowrap;
        }
    </style>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-sm green" title="Agregar" onclick="PopupForm('@Url.Action("AddOrEdit","Materiales")')">
            <i class="large material-icons">add_circle</i>
        </a>
    </div>

    <table id="matTable" class="table table-striped table-bordered compact" style="width:100%; text-transform: uppercase">
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

@section scripts{

    <script>

        var Popup, dataTable, PopupTiendas, PopupReglas;
        $(document).ready(function () {
            dataTable = $("#matTable").DataTable({
                "ajax": {
                    "url": "Materiales/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    {
                        "data": "ArticuloId", "render": function (data) {
                            return "<span>" + data + "</span>";
                        },
                        "title": "ID",
                        "className": "dt-body-center text-center",
                    },
                    {
                        "data": "Descripcion", "render": function (data) {
                            return "<span>" + data + "</span>";
                        },
                        "title": "Artículo",
                        "className": "dt-body-center text-left",
                    },
                    {
                        "data": "CantidadDefault", "render": function (data) {
                            return "<span>" + data + "</span>";
                        },
                        "title": "Cantidad",
                        "className": "dt-body-center text-center",
                    },
                    {
                        "data": "Observaciones", "render": function (data) {
                            return "<span>" + data + "</span>";
                        },
                        "title": "Observaciones",
                        "className": "dt-body-center text-left",
                    },
                    {
                        "data": "SencilloMultiple", "render": function (data) {
                            return "<span>" + data + "</span>";
                        },
                        "title": "Sencillo / Múltiple",
                        "className": "dt-body-center text-center",
                    },
                    {
                        "data": "Medida", "render": function (data) {
                            return "<span>" + data + "</span>";
                        },
                        "title": "Medida",
                        "className": "dt-body-center text-center",
                    },
                    {
                        "data": "Imagen", "render": function (data) {
                            return "<img src=\"Content/images/Productos" + data + "\" height=\"50\" width=\"50\"/>";
                        },
                        "title": "Imagen",
                        "orderable": false,
                        "searchable": false,
                        "className": "dt-body-center text-center noExport",
                    },
                    {
                        data: "Activo",
                        render: function (data, type, row) {
                            if (data == 1) {
                                return "<label for='danger' class='btndangerCheck'><input type='checkbox' id='danger' class='badgebox' checked='checked' disabled='disabled'><span class='badge'>&check;</span></label>";
                            } else {
                                return "<label for='danger' class='btndangerCheck'><input type='checkbox' id='danger' class='badgebox' disabled='disabled'><span class='badge'>&check;</span></label>";
                            }
                            return data;
                        },
                        "className": "dt-body-center text-center noExport",
                        "title": "Aplica Material",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        data: "Precio",
                        render: function (data, type, row) {
                            if (data == 1) {
                                return "<label for='danger' class='btndangerCheck'><input type='checkbox' id='danger' class='badgebox' checked='checked' disabled='disabled'><span class='badge'>&check;</span></label>";
                            } else {
                                return "<label for='danger' class='btndangerCheck'><input type='checkbox' id='danger' class='badgebox' disabled='disabled'><span class='badge'>&check;</span></label>";
                            }
                            return data;
                        },
                        "className": "dt-body-center text-center noExport",
                        "title": "Precio",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        data: "Bilingue",
                        render: function (data, type, row) {
                            if (data == 1) {
                                return "<label for='danger' class='btndangerCheck'><input type='checkbox' id='danger' class='badgebox' checked='checked' disabled='disabled'><span class='badge'>&check;</span></label>";
                            } else {
                                return "<label for='danger' class='btndangerCheck'><input type='checkbox' id='danger' class='badgebox' disabled='disabled'><span class='badge'>&check;</span></label>";
                            }
                            return data;
                        },
                        "className": "dt-body-center text-center noExport",
                        "title": "Bilingüe",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "data": "ArticuloId", "render": function (data) {
                            return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' onclick=PopupForm('@Url.Action("AddOrEdit","Materiales")/" + data + "')><i class='fas fa-pencil-alt'></i></a>";
                        },
                        "title": "Editar",
                        "orderable": false,
                        "searchable": false,
                        "className": "dt-body-center text-center noExport",
                    },
                    {
                        "data": "ArticuloId", "render": function (data) {
                            return "<a class='btn-danger btn-lg' style='background-color: transparent; cursor: pointer' onclick=Delete(" + data + ")><i class='fas fa-trash' style='color: #067655'></i></a>";
                        },
                        "title": "Eliminar",
                        "orderable": false,
                        "searchable": false,
                        "className": "dt-body-center text-center noExport",
                    },
                    {
                        "data": "ArticuloId", "render": function (data, type, row) {
                            if (row.Activo == 0) {
                                return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: not-allowed' ><i class='fas fa-ban' style='color: #067655'></i></a>";
                            }
                            else {
                                return "<a class='btn-default btn-lg' style='background-color: transparent; cursor: pointer' onclick=PopupFormTiendas('@Url.Action("Restaurantes", "Materiales")/" + data + "')><i class='fas fa-plus-circle'></i></a>";
                            }
                        },
                        "title": "Tiendas",
                        "orderable": false,
                        "searchable": false,
                        "className": "dt-body-center text-center noExport",
                    },
                ],
                "order": [[1, "asc"]],
                "pagingType": "full_numbers",
                "language": {
                    "emptyTable": "No hay datos, dar click en el botón <b>Agregar</b>",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sInfo": "_END_ registros",
                    "sInfoEmpty": "Registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "de un total de _MAX_",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "<<",
                        "sLast": ">>",
                        "sNext": ">",
                        "sPrevious": "<"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Mostrar/Ocultar Columnas"
                    },
                    select: {
                        rows: {
                            _: "%d registros seleccionados",
                            0: "",
                            1: "1 registro seleccionado"
                        }
                    },
                },
                dom: 'lBfrtip',
                buttons: [
                    {
                        extend: 'colvis',
                        columns: ':gt(1)',
                        text: '<i class="fas fa-tasks" title="Mostrar / Ocultar Columnas"></i>',
                    },
                    {
                        extend: 'excelHtml5',
                        title: null,
                        text: '<i class="fas fa-file-excel" title="Exportar a Excel"></i>',
                        exportOptions: {
                            orthogonal: 'export',
                            columns: "thead th:not(.noExport)",
                        },
                        filename: 'Artículos',
                        autoFilter: true,
                        sheetName: 'Artículos',
                        messageTop: null,
                        body: true,
                        footer: false,
                    },
                ],
                autoWidth: true,
                //fixedColumns: true,
                fixedColumns: {
                    leftColumns: 2,
                },
                initComplete: function () {
                    this.api().columns([4, 5]).every(function () {
                        var column = this;
                        var select = $('<select><option value="">=TODOS=</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                stateSave: true,
                select: true,
                scrollY: false,
                scrollX: true,
                keys: false,
                'bLengthChange': true,
                'bInfo': true,
                "lengthMenu": [[-1, 15, 25, 50, 100], ["TODOS", 15, 25, 50, 100]],
            });

        });


        function PopupForm(url) {
            viewPage();
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'AGREGAR ARTÍCULOS',
                        width: 750,
                        modal: true,
                        closeOnEscape: false,
                        closeText: "Cerrar",
                        hide: { effect: "fade", duration: 550 },
                        show: { effect: "fade", duration: 550 },
                        close: function () {
                            Popup.dialog('destroy').remove();
                            hidePages();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            var formData = new FormData(form);
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success",
                                autoHide: true,
                                autoHideDelay: 2000,
                            })

                        }
                    }
                });
            }
            return false;
        }

        function PopupFormTiendas(url) {
            viewPage();
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    PopupTiendas = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: "TIENDAS",
                        width: 800,
                        modal: true,
                        closeOnEscape: false,
                        closeText: "Cerrar",
                        hide: { effect: "fade", duration: 550 },
                        show: { effect: "fade", duration: 550 },
                        close: function () {
                            PopupTiendas.dialog('destroy').remove();
                            hidePages();
                        }
                    });
                });
        }

        function SubmitFormTiendas(form) {
            var formData = new FormData(form);
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        if (data.success) {
                            PopupTiendas.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success",
                                autoHide: true,
                                autoHideDelay: 2000,
                            })

                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            Swal.fire({
                title: '¿ ELIMINAR ARTÍCULO ?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#067655',
                cancelButtonColor: '#067655',
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
            }).then((result) => {
                if (result.value) {
                    hidePage();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete","Materiales")/' + id,
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();

                                $.notify(data.message, {
                                    globalPosition: "top center",
                                    className: "success"
                                })
                                viewPage();
                            }
                        }

                    });
                }
            })

        }
    </script>
}

