@model CampaniasSB.Models.Usuario
@{
    ViewBag.Title = "CAMPAÑAS SB";
}

<br />
<br />
<br />
<br />
<br />
<div align="center">
    <img src="~/Content/images/starbucks_logo.png" alt="Image" style="width: 400px; max-width: 100%; height: auto; border-radius: 10px" />
</div>